html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#container {
  width: 100%;
  height: 100%;
  background: black;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  will-change: transform;
}
#container.hidden {
  opacity: 0;
}
#content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  will-change: transform;
  backface-visibility: hidden;

  width: 4550px;
  height: 2685px;
}

#content img {
  position: absolute;
  width: 4550px;
  height: 2685px;
}
#next {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  pointer-events: none;
}
#next .btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 20px;
  background: orange;
  pointer-events: auto;
  border-radius: 50%;
}
#zone1 .button {
  left: 0;
  width: 0;
  height: 0;
  top: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  border: 3px solid;
  border-color: rgba(255, 0, 0, 1);
  color: black;
  line-height: 1000px;
  font-size: 100px;
  text-align: center;
  pointer-events: auto;
  z-index: 100;
  background-color: rgba(0, 255, 100, 0.5);
  box-sizing: border-box;
}
#zone1 .button:nth-child(1) {
  left: 0;
  top: 0;
  width: 4550px;
  height: 2685px;
  background-color: transparent;
}
#zone1 .button:nth-child(2) {
  left: 555px;
  top: 475px;
  width: 500px;
  height: 500px;
}
#zone1 .button:nth-child(3) {
  left: 2000px;
  top: 1500px;
  width: 1042px;
  height: 604px;
}
#zone1 .button:nth-child(4) {
  left: 1500px;
  top: 1500px;
  width: 604px;
  height: 1042px;
}
#zone1 .button:nth-child(5) {
  left: 2000px;
  top: 100px;
  width: 280px;
  height: 280px;
}
#zone1 .button:nth-child(6) {
  left: 1000px;
  top: 1000px;
  width: 800px;
  height: 600px;
}
#zone1 .button:nth-child(7) {
  left: 3000px;
  top: 400px;
  width: 1042px;
  height: 1042px;
}